.fireball {
    background-image: url('../images/fireball-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: fixed;
    transform: rotate(-40deg);
    object-fit: contain;
    top: 10%;
    right: 0%;
}

@keyframes fireball__one {
    from {
        top: 10%;
        right: 0%;
    }
    to {
        top: 85%;
        right: 60%;
    }
}

@keyframes fireball__two {
    from {
        top: 0%;
        right: 20%;
    }
    to {
        top: 80%;
        right: 70%;
    }
}

