.player {
    position: fixed;
    width: 1px;
    height: 1px;
    scale: (200);
    background-image: url('../images/arcade_knight-removebg-preview.png');
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 8%;
    left: 10%;
}

@keyframes jump {
    0% {
        bottom: 10%
    }
    50% {
        bottom: 40%
    }
    0% {
        bottom: 10%
    }
}