.player {
    position: fixed;
    width: 1px;
    height: 1px;
    scale: (200);
    background-image: url('../images/arcade_knight-removebg-preview.png');
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    // bottom: 8%;
}

@keyframes jump {
    0% {
        bottom: 10%
    }
    50% {
        bottom: 40%
    }
    0% {
        bottom: 10%
    }
}

@keyframes jumpPlatformLow {
    0% {
        bottom: 33%
    }
    50% {
        bottom: 69%
    }
    0% {
        bottom: 33%
    }
}

@keyframes jumpPlatformHigh {
    0% {
        bottom: 63%
    }
    50% {
        bottom: 80% 
    }
    100% {
        bottom: 63%
    }
    
}